.discount {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-right: 8vw;
  align-items: center;
}
.discount img {
  width: 47%;
  /* height: 100%; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.discount .discount-text {
  width: 47%;
}
.discount-text p {
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.d-properties {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
}
.d-icon {
  color: #54b963;
  font-size: 3.5rem;
  font-weight: 900;
}
.property a {
  color: rgb(6, 6, 6);
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
  margin-top: 15px;
  transition: 0.5s;
}
.property a:hover {
  color: #54b963;
  transition: 0.5s;
}
@media screen and (max-width: 850px) {
  .discount {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .discount img {
    width: 100%;
    border-radius: 10px;
  }
  .discount .discount-text {
    width: 100%;
    margin-top: 40px;
  }
  .section-intro h3 {
    font-size: 1.8rem;
  }
  .property a {
    font-size: 1.4rem;
  }
}
