@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.space {
  padding-top: 80px;
  /* padding-bottom: 8vw; */
}
.bottom {
  margin-bottom: 100px;
}

.section-intro {
  text-align: center;
}
.section-intro span {
  border-bottom: 3px solid rgb(84, 185, 99);
  padding-bottom: 3px;
  margin-bottom: 40px;
}

.section-intro h5 {
  color: rgb(84, 185, 99);
  font-weight: 600;
  font-size: 1rem;
}
.section-intro h3 {
  color: rgb(6, 6, 6);
  font-size: 2.4rem;
  margin-top: 22px;
  font-weight: 700;
}
